* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
  font-family: 'Roboto Slab', serif;
}
.list{
  background-color: ghostwhite;
  width: 100%;
  height: calc(100vh - 70px);
}
.list .card{
  border: none;
  box-shadow: 0 3px 3px lightblue;
}
.cardimg{
  width: 100%;
  height: 250px;
}
.award{
  display: flex;
  justify-content: space-between;
}
.awrdimg{
  width: 15px;
  height: 18px;
}
.mg{
  margin-top: -10px;
}
.det{
  width: 100%;
  height: 500px;
  overflow-y: auto;
}
.mbox{
  padding: 50px;
}
.load{
  width: 100%;
  height: 500px;
  display: grid;
  place-items: center;
}
.mappim{
  width: 75px;
  height: 75px;
}
.markerContainer{
  width: 80px;
  height: 80px;
  padding: 2px;
  background-color:#fff;
}
.fa-map-marker{
  font-size: 25px;
  color: rgb(194, 10, 10);
}

.loadrow{
  width: 100%;
  height: 500px;
 overflow-y: auto;
 overflow-x: hidden;
}
.loadrow .loadbox{
  width: 70%;
  display: block;
  margin:50px  auto 5px;
  height: 250px;
  background-color: rgb(206, 206, 207);
}
.loadrow .textload{
  width: 70%;
  height: 20px;
  display: block;
  margin: auto ;
  background-color: rgb(206, 206, 207);
}
.bbt{
  margin-top: 15px;
  width: 50px;
  height: 30px;
  border: 0;
  background-color: rgb(206, 206, 207);
}